<div class="container px-0 mb-3">
  <div class="card" style="border-bottom-width: 5px">
    <div class="card-header">
      <i class="bi bi-megaphone"></i> Important Announcement
    </div>
    <div class="card-body fs-5">
      The first meeting of the semester will be <b>Monday, September 9th</b> in
      <b>{{ site.data.current.meetinglocation }}</b>!
      <div class="text-secondary fs-6">
        {{ site.data.current.semester }} {{ site.data.current.year }}
      </div>
    </div>
  </div>
</div>
