<div class="my-5 mx-3 text-primary">
  <hr />
  <div class="text-center">
    <a href="{{ baseurl }}" class="text-decoration-none"
      >{{ site.clubwords }}</a
    >
    at
    <a
      href="https://iastate.edu"
      target="_blank"
      class="text-danger text-decoration-none"
      >Iowa State University</a
    >
    <br /><br /><span class="text-secondary"
      >Website updated
      <b
        >{{ site.data.current.semester }} Semester, {{ site.data.current.year
        }}.</b
      ></span
    >
  </div>
</div>
