<div
  class="alert container alert-primary d-flex align-items-center"
  style="border-bottom-width: 5px"
>
  <img
    src="{{ site.baseurl }}/assets/logo/HACC Logo.svg"
    alt="HACC Logo"
    class="me-3"
    style="max-width: 25%; height: auto; filter: drop-shadow(1px 1px 0 #576b66)"
  />
  <div>
    <div class="fw-bold fs-0 text-body">
      HACC @ <span class="text-danger">ISU</span>
    </div>
    <div class="fs-2">
      <b>H</b>acking <b>a</b>nd <b>C</b>yber Security <b>C</b>lub at
      <span class="text-danger">Iowa State University</span>
    </div>
  </div>
</div>
<div class="container px-0">
  <div class="alert alert-primary w-100" style="border-bottom-width: 5px">
    <h1 class="text-white"><i class="bi bi-info-circle"></i> About Us</h1>
    <hr />
    <p>
      The Hacking and Cyber Security Club (HACC), formerly the Information
      Assurance Student Group, is a part of the Center for Cybersecurity
      Innovation & Outreach at Iowa State University, holds weekly meetings on
      cyber security topics. These meetings consist of conference-style
      presentations about various InfoSec-related topics including hacking,
      exploits, recent vulnerabilities in the news, webapp vulnerabilities, and
      general hacker subjects such as radio, operating systems, and networking.
    </p>
    <p>
      We often feature guest speakers from the security field, as well as offer
      introductory-level presentations for those interested in security, but
      without an extensive background in designing and building information
      systems.
    </p>
  </div>
</div>
<div class="container px-0">
  <div class="row row-cols-1 row-cols-lg-2 gx-3">
    <div class="col d-flex">
      <div
        class="alert container alert-primary d-flex flex-column"
        style="border-bottom-width: 5px; flex: 1"
      >
        <h1 class="text-white"><i class="bi bi-discord"></i> Discord</h1>
        <hr />
        <p>
          The primary communication that HACC uses outside of meetings is our
          discord server. This Discord server is used to hang out and share
          information between meetings. It's worth joining, since members will
          post cool tricks, news stories, and other cyber security related
          things throughout.
        </p>
        <div class="mt-auto">
          <a href="" class="btn btn-outline-primary w-100">
            <i class="bi bi-discord"></i> Join our Discord
            <i class="bi bi-discord"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col d-flex">
      <div
        class="alert container alert-primary d-flex flex-column"
        style="border-bottom-width: 5px; flex: 1"
      >
        <h1 class="text-white">
          <i class="bi bi-calendar"></i> Fall 2024 Schedule
        </h1>
        <hr />
        <table class="table border table-striped fs-5 h-100">
          <tbody>
            <tr>
              <td class="text-primary-emphasis fs-4">Time:</td>
              <td class="text-primary-emphasis fs-4">Every Monday 6PM-7PM</td>
            </tr>
            <tr>
              <td class="text-primary-emphasis fs-4">Location:</td>
              <td class="text-primary-emphasis fs-4">Coover 1012</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="container px-0">
  <div class="alert alert-primary w-100" style="border-bottom-width: 5px">
    <h1 class="text-white"><i class="bi bi-coin"></i> Sponsors</h1>
    <hr />
    <p>Thank you to our sponsors for supporting our club!</p>
    <div class="row row-cols-1 row-cols-lg-2 g-4">
      <div class="col">
        <a
          class="card p-3"
          href="https://www.collinsaerospace.com/"
          target="_blank"
        >
          <img
            src="{{ site.baseurl }}/assets/img/sponsors/collins_logo.svg"
            class="card-img"
            style="filter: brightness(0) invert(1)"
            alt="Collins Aerospace"
          />
        </a>
      </div>
    </div>
    <button type="button" class="mt-3 btn btn-outline-primary w-100">
      <i class="bi bi-coin"></i> Sponsor our Club <i class="bi bi-coin"></i>
    </button>
  </div>
</div>
