<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
  {% for meeting in site.meetings %} {% unless meeting.path contains "index.md"
  %}
  <div class="col">
    <div
      class="card h-100 d-flex flex-column"
      data-tags="{{ meeting.tags | join: ',' }}"
    >
      <img
        src="{% if meeting.thumbnail %}{{ meeting.thumbnail }}{% else %}{{ site.baseurl }}/assets/img/noimg.svg{% endif %}"
        class="card-img-top"
        alt="{% if meeting.thumbnail %}{{ meeting.title }}{% else %}No image{% endif %}"
      />
      <div class="card-body d-flex flex-column">
        <div class="pb-3">
          {% for tag in meeting.tags %}
          <span class="badge text-bg-primary">{{ tag }}</span>
          {% endfor %}
        </div>
        <h5 class="card-title">{{ meeting.title }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          {{ meeting.date | date: "%b %d, %Y" }}
        </h6>
        <hr />
        <p class="card-text">
          {{ meeting.content | strip_html | truncate: 150, "..." }}
        </p>
        <a
          href="{{ site.baseurl }}{{ meeting.url }}"
          target="_self"
          type="button"
          class="btn w-100 btn-outline-primary mt-auto"
        >
          Go to page
        </a>
      </div>
    </div>
  </div>
  {% endunless %} {% endfor %}
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const urlParams = new URLSearchParams(window.location.search);
    const tag = urlParams.get("tag");
    const clearFilterBtn = document.getElementById("clear-filter-btn");

    // Show the clear filter button if a tag is present in the URL
    if (tag) {
      clearFilterBtn.style.display = "inline-block"; // Make the button visible next to the dropdown
      clearFilterBtn.addEventListener("click", function () {
        window.location.href = window.location.pathname; // Clears the filter
      });
    }

    // Filter meetings based on the tag if present
    const meetings = document.querySelectorAll(".card");
    if (tag) {
      meetings.forEach(function (meeting) {
        const meetingTags = meeting.getAttribute("data-tags").split(",");
        if (!meetingTags.includes(tag.trim())) {
          meeting.parentElement.style.display = "none"; // Hide the meeting card
        }
      });
    }
  });
</script>
