<nav class="navbar navbar-expand-lg border border-primary m-3">
  <div class="container-fluid">
    <a class="navbar-brand fs-3" href="{{ baseurl }}"
      >{{ site.clubacronym }} @ ISU</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Meetings</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Learn
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Puzzlers</a></li>
            <li>
              <a class="dropdown-item" href="#"
                >CDC Help <i class="bi bi-box-arrow-up-right"></i
              ></a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Equipment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Sponsors</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
