<div class="container pt-2">
  <nav class="navbar navbar-expand-lg m-2 mt-0">
    <div class="container-fluid">
      <a class="navbar-brand fs-2" href="/new-hacc-website">./HACC</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/new-hacc-website">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/new-hacc-website/meetings"
              >Meetings</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Learn
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="new-hacc-website/learn/puzzlers"
                  >Puzzlers</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="https://iasg.github.io/CDCHelpSite/"
                  >CDC Help <i class="bi bi-box-arrow-up-right"></i
                ></a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/new-hacc-website/equipment">Equipment</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              About Us
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/new-hacc-website/about"
                  >About HACC</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="/new-hacc-website/projects"
                  >Projects</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="/new-hacc-website/sponsors/"
                  >Sponsors</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
